$greenish: #740c94;
/* Mixins */
@mixin greenish-gradient {
  background: $greenish; /* Old browsers */
  background: -moz-linear-gradient(left, rgba($greenish,0.1), rgba($greenish,0.5), rgba($greenish,0.8) ); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba($greenish,0.1),rgba($greenish,0.5),rgba($greenish,0.8)); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba($greenish,0.1),rgba($greenish,0.5),rgba($greenish,0.8)); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#72aa00',GradientType=1 );
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#app-content-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

/*****************************
  NAV
*****************************/
.rev-logo {
  width: auto;
  height: 2em;
  margin-right: 2em;
}

.margin-nav {
  margin-right: 2em
}


.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0,0,0,.7);
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: .75rem !important;
  padding-left: .75rem !important;
}

.bg-light {
  background-color: #ffffff !important;
  @include greenish-gradient;
}

nav {
  border-bottom: 1px solid #ffffff !important;
  margin-bottom: 20px;
  -webkit-box-shadow: 1px -12px 28px -1px rgba(0, 0, 0, 0.87);
  -moz-box-shadow: 1px -12px 28px -1px rgba(0, 0, 0, 0.87);
  box-shadow: 1px -12px 28px -1px rgba(0, 0, 0, 0.87);
}

#examples-dropdown {
  cursor: pointer;
}


/***********************
Clicker
***********************/
.clicker-display-5 {
  color: red;
}

/**********************
 Sign In
**********************/
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;

 .checkbox {
  font-weight: 400;
}
 .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
 .form-control:focus {
  z-index: 2;
}
 input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
 input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
}
/****************************
  Tic Tac Toe  
*****************************/
.game-board td{
  empty-cells: show;
  border-width: 3px;
  border-color: black;
  height: 100px;
  width: 100px;
  font-size: 30pt;
  font-weight: 700;
  text-align: center;
}
.controls {
  text-align: center;
}
#reset {
  //visibility: hidden;
  font-size: 16pt;
}
#msg {
  font-size: 30;
  font-weight: 500;
  //padding-right:20px; 
}
#tic-header {
  padding-bottom: 20px;
}
/****************************
  Manage Users
*******************************/
#restaurant-table-container {
  margin-top: 1.5em;
}

#restaurant-table-body > tr:hover {
  cursor: pointer;
  -webkit-box-shadow: inset 0px 0px 32px 0px rgba(59,209,0,1);
  -moz-box-shadow: inset 0px 0px 32px 0px rgba(59,209,0,1);
  box-shadow: inset 0px 0px 32px 0px rgba(59,209,0,1);
}

.gradient-background {
  @include greenish-gradient;
}

.delete-button:hover {
  -webkit-box-shadow: inset 0px 0px 32px 0px #d1003b;
  -moz-box-shadow: inset 0px 0px 32px 0px #d1003b;
  box-shadow: inset 0px 0px 32px 0px #d1003b;
  cursor: not-allowed;
}